<h2>Show Task</h2>

<ul>

  <li>
    <strong>Desc:</strong>
    <%= @task.desc %>
  </li>

  <li>
    <strong>Time spent:</strong>
    <%= @task.time_spent %>
  </li>

  <li>
    <strong>Complete:</strong>
    <%= @task.complete %>
  </li>

</ul>

<span><%= link "Edit", to: task_path(@conn, :edit, @task) %></span>
<span><%= link "Back", to: task_path(@conn, :index) %></span>
